@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

.home .nav_fix, .en .nav_fix,
.home .lang_nav, .en .lang_nav,
.home .btn_humberger_box, .en .btn_humberger_box { opacity: 0; -webkit-transition: opacity 0.2s cubic-bezier(0.36, 0.14, 0, 1) 0.8s; transition: opacity 0.2s cubic-bezier(0.36, 0.14, 0, 1) 0.8s; }
header.fixed .nav_fix,
header.fixed .lang_nav,
header.fixed .btn_humberger_box { opacity: 1; -webkit-transition-delay: 0s; transition-delay: 0s; }

.top_main_logo { opacity: 0; -webkit-transition: opacity 0.2s cubic-bezier(0.36, 0.14, 0, 1) 0.8s; transition: opacity 0.2s cubic-bezier(0.36, 0.14, 0, 1) 0.8s; }
.top_main_logo.is-animation { opacity: 1; }

/*common*/
.pc-only { display: block!important; }
.sp-only { display: none!important; }

/*navi*/
.btn_humberger_box { display: none; }

.nav_fix { position: fixed; z-index: 10;top: 55px; left: 4.84vw; width: 20.4vw; max-width: 175px; }

.main_nav { font-size: 1.6rem; font-weight: 700; margin: 54px 0 29px; }
.main_nav li { line-height: 1.35; margin-bottom: 20px; position: relative; }
.main_nav li a { display: inline-block; }
.main_nav li .link_external { padding-right: 24px; position: relative; }
.main_nav li .link_external span { display: block; width: 16px; position: absolute; right: 0; top: 0px; line-height: 0; }
.main_nav span { font-size: 1.1rem; font-weight: 400; display: block; margin: 0 0 5px -15px; }
.sub_nav { font-size: 1.4rem; font-weight: 600; }
.sub_nav li { margin-bottom: 10px;}
.sub_nav span { color: #999; }
.nav_home { font-size: 1.7rem; font-weight: bold; }
.nav_box .link_ig { font-size: 1.4rem; font-weight: 700; line-height: 1.25; margin-top: 20px; }
.nav_box .link_ig .ico_ig { margin-right: 5px; }


.top_andy { background: #EBEBEB; }
.top_andy > .inner { width: 51.2%; margin: 0 auto; padding: 100px 0 116px; }
.top_andy_ttl { font-size: 6.0rem; text-align: center; margin-top: 77px; line-height: 1;  }
.top_andy_ttl_ja { font-size: 2.0rem; text-align: center; margin-top: 8px; font-weight: 700;  }
.top_seiji_ttl { font-size: 5.0rem; text-align: center; margin-top: 77px; line-height: 1;  }
.top_andy_illust { width: 34.37%; min-width: 202px; max-width: 303px; margin: 0 auto; }
.top_andy_txt { font-size: 1.8rem; text-align: center; margin-top: 100px; font-weight: 700; }
.top_andy .link_more { text-align: center; margin-top: 59px; }

.top_seiji_body { width: 46.93%; margin: 140px auto 156px; }
.top_seiji_illust { width: 26.35%; min-width: 155px; max-width: 232px; margin: 0 auto 82px; }
.top_seiji_illust img { width: 100%; }
.top_seiji_txt { margin-top: 49px; }
.top_seiji .link_more { margin-top: 29px; }

.top_shop_wrapper { background: #EBEBEB; }
.top_shop { width: 71.42%; margin: 0 auto 0; padding: 107px 0 176px; }
.top_shop > .inner { width: 82.85%; margin: 0 auto; }
.common_hd { font-size: 5.0rem; line-height: 1; }
.common_hd .link_external { padding-right: 40px; position: relative; }
.common_hd .link_external span { display: block; width: 28px; position: absolute; right: 0; top: 5px; line-height: 0; }
.link_external span img { width: 100%; }

.shop_item_list { display: flex; flex-wrap: wrap; margin-top: 55px; }
.shop_item { width: 31.46%; margin-left: 2.81%; margin-bottom: 50px; }
.shop_item:nth-child(3n+1) { margin-left: 0; }
.shop_item_ph > div { padding-bottom: calc(100% - 2px); position: relative; box-sizing: border-box; }
.shop_item_ph.line > div { border: 1px solid #ccc; }
.shop_item_ph img { width: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.shop_item_cat { font-size: 3.3rem; line-height: 1; margin-top: 12px; }
.shop_item_ttl { font-size: 1.3rem; font-weight: 700; }
.shop_item_cat .link_external { position: relative; }
.shop_item_cat .link_external span { display: block; width: 16px; position: absolute; right: -24px; top: 5px; line-height: 0; }

.illust_cart { width: 270px; margin: 290px auto 0; }
.illust_cart img { width: 100%; }

