@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/*header*/
.header {
    padding: 55px 58px;
    width: 100%;
    z-index: 1;
}
.nav_fix {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.header_illust img {
    position: fixed;
    display: block;
    height: 42px; 
    width: 60px;
}
.hamburger_menu {
    display: none;
}
.global_nav {
    margin: 54px 0 29px;   
}
.main_nav {
    color: #333333;
    list-style: none;
}
.main_nav li {
    line-height: 1.35;
    margin-bottom: 20px;
}
.main_nav li a {
    color: inherit;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
