@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


/*header*/
.header_illust {
    width: 43px;
    height: 30px; 
    position: relative; 
    z-index: -1; 
}
.header_illust img {width: 100%; }
.global_nav {
    position: sticky;
    top: 100px;
    padding: 150px 71px;    
}

.main_nav {
    list-style: none;
}

.top_main {
    background-color: #FFFFFF;
    height: 773px;
    width: 100%;
}

.top_main_anim {
    display: flex;
    overflow: hidden;
}
.top_main_anim_box {
    display: flex;
    animation: loop-list 100s linear infinite;
    padding-left:0;
}

.top_main_anim_box li{
    list-style:none;
}

@keyframes loop-list {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.top_main_anim_box img {
    width: 100%;
    animation-delay: 10s;
}

.top_main_logo img {
    width: 100px;
    height: 100px;
    margin-left: auto;
}

.top_andy { 
    background-color: #EBEBEB;
    height: 899px;
    width: 100%;    
}
.top_andy > .inner { 
    width: 100%;
    margin: 0 auto;
    border-top: 49px;
    border-bottom: 70px;
    padding: 100px 0 116px; 
}

.top_andy_illust img { width: 100%; }

.top_andy_illust {
    width: 34.37%;
    margin: 0 auto; 
}
                   
.top_andy_ttl { 
    font-size: 40px;
    text-align: center;
    margin-top: 77px;
    line-height: 1;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
}

            
.top_andy_ttl_ja { 
    font-size: 20px;
    text-align: center; 
    margin-top: 8px; 
    font-weight: 700; 
    font-family:'Noto Sans JP', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    font-style: normal;
    color: #333333;
}

.top_andy_txt {
    font-size: 18px;
    text-align: center; 
    margin-top: 100px;
    font-weight: 700; 
    font-family:'Noto Sans JP', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    font-style: normal;
    color: #333333; 
}

.top_andy .link_more { 
    text-align: center;
    margin-top: 59px;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
}

.link_more img { 
    width: 12px;
    height: 12px;
    margin-left:10px; 
}

.link_more a { 
    font-size: 20px; 
    line-height: 3;
}

.top_seiji{
    background-color: #FFFFFF;
    height: 641px;
    width: 100%;
}

.top_seiji_illust img { width: 100%; }

.top_seiji_illust {
    width: 26.35%;
    margin: 0 auto 82px;      
}

.top_seiji_ttl {
    font-size: 40px;
    text-align: center;
    margin-top: 77px;
    line-height: 1;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
}

.top_seiji_ttl_ja { 
    font-size: 16px;
    text-align: center; 
    margin-top: 8px; font-weight: 700; 
    font-family:'Noto Sans JP', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    font-style: normal;
    color: #333333;
}

 .top_seiji_txt { 
    font-size: 18px;
    text-align: center; 
    margin-top: 49px;
    font-family:'Noto Sans JP', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    font-style: normal;
    color: #333333; 
}

.top_seiji .link_more { 
    text-align: left;
    margin-top: 59px;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
}

.link_more img { 
    width: 12px;
    height: 12px;
    margin-left:10px; 
}

.link_more a { 
    font-size: 20px; 
    line-height: 3;
}


.top_shop_wrapper {
    background-color: #EBEBEB;
    height: 1062px;
    width: 100%;
}

.top_shop { 
    width: auto; 
    margin: 190px auto 0; 
}

.shop_item_list { display: flex;}

.shop_item_list img { 
    display: flex;
    width: 218px;
    height: 218px;
    margin: 10px;
    text-align: center;
}

.top_news{
    background-color: #FFFFFF;
    height: 950px;
    width: 100%;
}
.news_item_txt  { display: flex;}
.news_item_ph img {
    display: flex;
    width: 90px;
    height: 90px;
    text-align:center;
}

.footer_logo  {
    background-color: #EBEBEB;
    height: 850px;
    margin-top: 164px;
    padding: 361px 0 46px;
    text-align: center;
    width: 100%;
}

.footer_logo img {     
    height: 300px;
    width: 300px;
}

.footer_copyrights{
    background-color: #EBEBEB;
    text-align: center;
    width: 100%;
}
.footer_copyrights img {
    height: 300px;
    width: 200px;
}